@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>
        Opps...
    </h1>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</body>
</html>