<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="ErrorFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/ACIPL.Template.Server.Services.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value=".yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaxSizeRollBackups" value="7" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%date][%level]%message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ALL" />
      <appender-ref ref="ErrorFile" />
    </root>
    <logger name="DataAccessLogger">
      <level value="DEBUG" />
      <appender-ref ref="ErrorFile" />
    </logger>
  </log4net>
  <connectionStrings>
    <add name="ConnectionString" connectionString="q1p7QhPdzsGK+EP5WzRd/Ix7XvJLaJisv3rewZ/wF9bEEe2wJ8k6VeFe90yTEPoCtIIri9+NFyujpPfu1OHpY2qDnjK8J1EM" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SymmetricKey" value="ACIPL.EncryKey.Symmetric" />
    <add key="HostAddress" value="l8wf0cDJkKt8AMq2njVEU20f5oevRml1zz+379byf0E=" />
    <add key="PortNum" value="cq+Rip4HttU=" />
    <add key="EmailUserName" value="fkmdYqUC5kZSpAqE4e0QAbyXZLxMTWIoZ5lo7J3AbCI=" />
    <add key="EmailPassword" value="tjufRnpK90bJlOiV8zaXfA==" />
    <add key="ToEmailAddresses" value="fEUnDfqezadUeCk9l2y1g/hQeRBMZ9MwrhZQRX8mAKxhL++FfdFAbdixWQBVr6UCtVSST4hLEIIYEt3ZPxQ/CA==" />
    <add key="CCEmailAddresses" value="" />
    <add key="BCCEmailAddresses" value="PhC19qGTbMhUeCk9l2y1g/hQeRBMZ9MwqCwT89jgGak=" />
    <add key="EmailDisplayName" value="ACIPL.Template.Server" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>